# Configurações da API Backend
NEXT_PUBLIC_API_URL=http://localhost:50001/api/v1

# Configurações do Next.js
NODE_ENV=production

# Configurações de desenvolvimento (opcional)
# NEXT_TELEMETRY_DISABLED=1
